[Unit]
Description=First Boot Setup
ConditionPathExists=/boot/firstboot
Wants=network-pre.target
Before=network-pre.target

[Service]
Type=oneshot
User=root
ExecStart=/bin/bash "/home/pi/setup/first_boot_setup"

[Install]
WantedBy=network.target